body {
  padding: 32px;
  margin: 0 auto;
  max-width: 1000px;
}

#updated {
  text-align: right;
}

.ui.sortable.table thead th.sort-disabled {
  cursor: auto;
}

.ui.sortable.table thead th.descending:after {
  content: '\f0d7';
}

.ui.sortable.table thead th.ascending:after {
  content: '\f0d8';
}

.accept {
  display: none;
  background-color: #6A5;
  color: #fff;
  padding: 2px 5px;
  margin-right: 2px;
  font-size: 11px;
  font-weight: bold;
}

.accepted {
  display: inline;
}

.social-count {
  padding: 4px;
}

.speaker-icon {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  vertical-align: middle;
}

footer {
  text-align: right;
  padding: 1em 0 2em;
}

footer span {
  display: inline-block;
}

footer i.github {
  font-size: 2.5em;
  color: #333;
}
